@model PagedList.IPagedList<Model.EF.Teacher>
@using PagedList.Mvc;
@{
    ViewBag.Title = "Index";
    Layout = "~/Areas/Manage/Views/Shared/_Layout.cshtml";
}
@section Header { 
    Danh Sách Giáo Viên
}

<div class="container-fluid">
    <div class="row">
        <div class="col-12">
            <div class="card">
                <div class="table-responsive">
                    <table class="table table-hover">
                        <thead>
                            <tr>
                                <th class="border-top-0">Mã</th>
                                <th class="border-top-0">Họ và tên</th>
                                <th class="border-top-0">Facebook</th>
                                <th class="border-top-0">Status</th>
                                <th class="border-top-0">#</th>
                            </tr>
                        </thead>
                        <tbody>
                            @foreach (var item in Model)
                            {
                                <tr>
                                    <td>@item.MaGV</td>
                                    <td>@item.TenGV</td>
                                    <td>@item.Fb</td>
                                    <td>@item.Status</td>
                                    <td>
                                        <a href="/User/Edit/@item.MaGV">Sửa</a>
                                        <a href="/User/Delete/@item.MaGV">Xóa</a>
                                    </td>
                                </tr>
                            }
                        </tbody>
                    </table>
                    @Html.PagedListPager(Model, page => Url.Action("Index", new { page }))
                </div>
            </div>
        </div>
    </div>
</div>

