@model  PagedList.IPagedList<Model.EF.Teacher>
@using PagedList.Mvc;
@{
    ViewBag.Title = "Index";
    Layout = "~/Areas/Manage/Views/Shared/_Layout.cshtml";
}

@section header{
        Danh Sách Giáo Viên
    }

<div class="row">
    <div class="col-12">
        <div class="card">
            <div class="table-responsive">
                <table class="table table-hover">
                    <thead>
                        <tr>
                            <th>Mã</th>
                            <th>Họ và tên</th>
                            <th>Email</th>
                            <th>Số điện thoại</th>
                            <th>Facebook</th>
                            <th>Địa chỉ</th>
                            <th>Trạng thái</th>
                            <th>#</th>
                        </tr>
                    </thead>
                    <tbody>
                        @foreach (var item in Model)
                        {
                            <tr>
                                <td>@item.MaGV</td>
                                <td>@item.TenGV</td>
                                <td>@item.email</td>
                                <td>@item.sdt</td>
                                <td><a href="@item.Fb">@item.Fb</a></td>
                                <td>@item.DiaChi</td>
                                <td>@item.Status</td>
                                <td>
                                    @*<a href="/User/Edit/@item.MaGV">Sửa</a>*@
                                    @Html.ActionLink("Xóa", "Deleted", new {id = @item.MaGV })
                                </td>
                            </tr>
                        }
                    </tbody>
                </table>
                @Html.PagedListPager(Model, page => Url.Action("Index", new { page }))
            </div>
        </div>
    </div>
</div>
<div class="form-group">
    <div class="col-md-offset-2 col-md-10">
        <input type="button" value="Thêm giáo viên" onclick="location.href='@Url.Action("Create","Teacher")'" class="btn btn-default" />
    </div>
</div>
