@model PagedList.IPagedList<Model.EF.TaiLieuHocTap>
@using PagedList.Mvc;
@{
    ViewBag.Title = "TaiLieuHocTap";
    Layout = "~/Areas/Manage/Views/Shared/_Layout.cshtml";
}
@section Header{
    Tài Liệu Học Tập
    }
<div class="container-fluid">
    <div class="row">
        <div class="col-12">
            <div class="card">
                <div class="table-responsive">
                    <table class="table table-hover">
                        <thead>
                            <tr>
                                <th class="border-top-0">Mã</th>
                                <th class="border-top-0">Môn học</th>
                                <th class="border-top-0">Tài Liệu</th>
                                <th class="border-top-0">Status</th>
                                <th class="border-top-0">#</th>
                            </tr>
                        </thead>
                        <tbody>
                            @foreach (var item in Model)
                            {
                                <tr>
                                    <td>@item.MaTL</td>
                                    <td>@item.MonHoc</td>
                                    <td>@item.TaiLieu</td>
                                    <td>@item.Status</td>
                                    <td>
                                        <a href="/User/Edit/@item.MaTL">Sửa</a>
                                        <a href="/User/Delete/@item.MaTL">Xóa</a>
                                    </td>
                                </tr>
                            }
                        </tbody>
                    </table>
                    @Html.PagedListPager(Model, page => Url.Action("Index", new { page }))
                </div>
            </div>
        </div>
    </div>
</div>

