@model PagedList.IPagedList<Model.EF.TaiKhoan>
@using PagedList.Mvc;
@{
    ViewBag.Title = "Index";
    Layout = "~/Areas/Manage/Views/Shared/_Layout.cshtml";
}
@section Header{
    Danh Sách Người Dùng
}

<div class="row">
    <div class="col-12">
        <div class="card">
            <div class="table-responsive">
                <table class="table table-hover">
                    <thead>
                        <tr>
                            <th>Mã</th>
                            <th>Họ và tên</th>
                            <th>Email</th>
                            <th>Số điện thoại</th>
                            <th>Facebook</th>
                            <th>Địa chỉ</th>
                            <th>Tài khoản</th>
                            <th>Mật khẩu</th>
                            <th>Trạng thái</th>
                            <th>#</th>
                        </tr>
                    </thead>
                    <tbody>
                        @foreach (var item in Model)
                        {
                            <tr id="row_@item.MaTK">
                                <td>@item.MaTK</td>
                                <td>@item.Hoten</td>
                                <td>@item.Email</td>
                                <td>@item.SDT</td>
                                <td>@item.Fb</td>
                                <td>@item.DiaChi</td>
                                <td>@item.Username</td>
                                <td>@item.Password</td>
                                <td>@item.Status</td>
                                <td>
                                    @Html.ActionLink("Sửa", "Edit", new { id = @item.MaTK })
                                    |
                                    @Ajax.ActionLink("Xóa", "Delete",new { @id = item.MaTK }, new AjaxOptions
                               {
                                   Confirm = "Bạn có chắc xóa tài khoản này?",
                                   OnComplete = "$('#row_"+@item.MaTK+"').remove()",
                                   HttpMethod="Delete"
                               })
                                    
                                </td>
                            </tr>
                        }
                    </tbody>
                </table>
                @Html.PagedListPager(Model, page => Url.Action("Index", new { page }))
            </div>
        </div>
    </div>
</div>
<div class="form-group">
    <div class="col-md-offset-2 col-md-10">
        <input type="button" value="Thêm User" onclick="location.href='@Url.Action("Create","User")'" class="btn btn-default" />
    </div>
</div>
